#image_drop_area_class41{
  width: 800px;
  height: 800px;
  border: 1px solid black;
  background-position: center;
  background-size: cover; 
  box-sizing: border-box;
}
#image_drop_area_class4G{
  width: 800px;
  height: 800px;
  border: 1px solid black;
  background-position: center;
  background-size: cover; 
  box-sizing: border-box;
}
#image_drop_area_yolov4_41{
  width: 800px;
  height: 800px;
  border: 1px solid black;
  background-position: center;
  background-size: cover; 
  box-sizing: border-box;
}