[Unit]
After=network.service

[Service]
#ExecStartPre=/bin/sleep 120
ExecStart=/var/www/MedWasteWeb/backend/run_backend_service.sh
#user=coe
#Restart=on-failure
#RestartSec=100

[Install]
WantedBy=default.target
